.settings-list {
  margin-bottom: 30px;
}

.settings__setting {
  padding: 20px 0px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.settings__setting i {
  opacity: 0.8;
  margin-right: 20px;
  font-size: 22px;
}

.settings__setting-column {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.settings__setting-column:last-child {
  opacity: 0.7;
}

.settings__setting-new {
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: tomato;
  font-size: 12px;
  font-weight: 600;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}
